<%- include("partials/header") %>

<div class="card card-narrow">
    <h2>Signin</h2>

    <form action="/signin" method="POST">

        <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
        >

        <button type="submit">Signin</button>

    </form>

    <p class="link-row">
        <a href="/signup">Create New Account</a>
    </p>
</div>

<%- include("partials/footer") %>
